<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>HDMC | Admin</title>
    <style>
        table, th, td {
            border: 1px solid black;
            margin: 5px;
            padding: 15px;
        }
    </style>
</head>

<body>
<section id="title">
    <!--                         Navbar                                         -->
    <%- include('./partials/navbar') %>
</section>

<div>

    <table style="collapse: 1px solid black">
        <thead>
        <th>National Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Is Active</th>
        <th>JSON</th>
        </thead>
        <tbody>
        <% for(let i = 0; i < doctors.length; i++) { %>
        <tr>
            <td><%= doctors[i].userId.nationalId ;%></td>
            <td><%= doctors[i].userId.firstName ;%> <%= doctors[i].userId.lastName ;%></td>
            <td><%= doctors[i].status ;%></td>
            <td><%= doctors[i].active ;%></td>
            <td><%= JSON.stringify(doctors[i]) ;%></td>
        </tr>
        <% } %>

        </tbody>
    </table>
</div>

</body>
</html>
