<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>

    <link rel="stylesheet" href="../css/allPatients.css">
</head>
<body>

<%- include('./partials/notification.ejs') %>

<section id="title">

    <%- include('./partials/navbar.ejs') %>
</section>

<!--more-->

<section id="patients-list">
    <input class="search-input" type="text" placeholder="Patient National ID">
    <button class="btn btn-lg btn-primary search-btn">Search by National ID</button>

    <div class="row">
        <div class="col-lg-12 col-md-6 table-container main">
            <table class="table table-fixed">
                <caption style="caption-side: top">All patients</caption>
                <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>National ID</th>
                    <th>Phone Number</th>
                    <th>Health Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <% for (let {_id, user} of allPatients) { %>
                    <tr>
                        <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                        <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                        <td data-label="National_ID"><%= user.nationalId %></td>
                        <td data-label="Phone-number"><%= user.phoneNumber %></td>
                        <td data-label="Health Status">Bad</td>
                        <td>
                            <button class="btn btn-lg btn-dark" value="<%= _id %>">Contact</button>
                            <button class="btn btn-lg btn-primary" id="add-patient" value="<%= _id %>">Add Patient</button>
                        </td>
                    </tr>
                <% } %>
                </tbody>

            </table>
        </div>
    </div>

</section>


<!-- Footer -->


<footer id="footer">
    <div class="sm">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <p class="footer-p">&COPY; Copyright 2021 COVID-19 HEALTHCARE DISTANCE SYSTEM</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/allPatients.js"></script>

</body>
</html>
