<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Coordinator</title>
    <link rel="stylesheet" href="../css/coordinator.css">
</head>
<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="row">
    <div class="col-lg-5 col-md-6 table-container">
        <table class="table table-fixed">
            <caption>List Of Active Doctors</caption>
            <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Birthdate</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for(let {_id, userId: user} of doctors) { %>
                <tr id="<%= _id %>">
                    <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                    <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                    <td data-label="National_ID"><%= user.nationalId %></td>
                    <td data-label="Phone-number"><%= user.phoneNumber %></td>
                    <td>
                        <button class="delete-btn btn btn-lg btn-primary"
                                onclick="deactivateHandler(this, '<%= user._id %>', 'doctor', '<%= _id %>')">Deactivate
                        </button>
                    </td>
                </tr>
            <% } %>
            </tbody>

        </table>
    </div>
    <div class="col-lg-5 col-md-6 table-container">
        <table class="table table-fixed">
            <caption>List Of Active Mentors</caption>
            <thead>
            <tr>
                <th>Mentor Name</th>
                <th>Birthdate</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for(let {_id, userId: user} of mentors) { %>
                <tr id="<%= _id %>">
                    <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                    <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                    <td data-label="National_ID"><%= user.nationalId %></td>
                    <td data-label="Phone-number"><%= user.phoneNumber %></td>
                    <td>
                        <button class="delete-btn btn btn-lg btn-primary"
                                onclick="deactivateHandler(this, '<%= user._id %>', 'mentor', '<%= _id %>')">Deactivate
                        </button>
                    </td>
                </tr>
            <% } %>
            </tbody>

        </table>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-5 col-md-6 table-container">
        <table class="table table-fixed">
            <caption>List Of Pending Doctors</caption>
            <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Birthdate</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for (let {_id, userId: user} of pendingDoctors) { %>
            <tr id="<%= _id %>">
                <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                <td data-label="National_ID"><%= user.nationalId %></td>
                <td data-label="Phone-number"><%= user.phoneNumber %></td>
                <td>
                    <button class="accept-btn btn btn-lg btn-primary"
                            onclick="acceptOrRejectHandler('doctor', '<%= user._id %>', '<%= _id %>', 'accept')">Accept
                    </button>
                    <button class="reject-btn btn btn-lg btn-dark"
                            onclick="acceptOrRejectHandler('doctor', '<%= user._id %>', '<%= _id %>', 'reject')">Reject
                    </button>
                </td>
            </tr>
            <% } %>
            </tbody>

        </table>
    </div>
    <div class="col-lg-5 col-md-6 table-container">
        <table class="table table-fixed">
            <caption>List Of Pending Mentors</caption>
            <thead>
            <tr>
                <th>Mentor Name</th>
                <th>Birthdate</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for (let {_id, userId: user} of pendingMentors) { %>
            <tr id="<%= _id %>">
                <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                <td data-label="National_ID"><%= user.nationalId %></td>
                <td data-label="Phone-number"><%= user.phoneNumber %></td>
                <td>
                    <button class="accept-btn btn btn-lg btn-primary"
                            onclick="acceptOrRejectHandler('mentor', '<%= user._id %>', '<%= _id %>', 'accept')">Accept
                    </button>
                    <button class="reject-btn btn btn-lg btn-dark"
                            onclick="acceptOrRejectHandler('mentor', '<%= user._id %>', '<%= _id %>', 'reject')">Reject
                    </button>
                </td>
            </tr>
            <% } %>
            </tbody>

        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-5 col-md-6 table-container">
        <table class="table table-fixed">
            <caption>List Of Inactive Doctors</caption>
            <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Birthdate</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for (let {_id, userId: user} of inactiveDoctors) { %>
            <tr id="<%= _id %>">
                <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                <td data-label="National_ID"><%= user.nationalId %></td>
                <td data-label="Phone-number"><%= user.phoneNumber %></td>
                <td>
                    <button class="accept-btn btn btn-lg btn-primary"
                            onclick="acceptOrRejectHandler('doctor', '<%= user._id %>', '<%= _id %>', 'accept')">Active
                    </button>
                </td>
            </tr>
            <% } %>
            </tbody>

        </table>
    </div>
    <div class="col-lg-5 col-md-6 table-container">
        <table class="table table-fixed">
            <caption>List Of Inactive Mentors</caption>
            <thead>
            <tr>
                <th>Mentor Name</th>
                <th>Birthdate</th>
                <th>National ID</th>
                <th>Phone Number</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% for (let {_id, userId: user} of inactiveMentors) { %>
            <tr id="<%= _id %>">
                <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                <td data-label="Age"><%= user.birthdate.toLocaleDateString() %></td>
                <td data-label="National_ID"><%= user.nationalId %></td>
                <td data-label="Phone-number"><%= user.phoneNumber %></td>
                <td>
                    <button class="accept-btn btn btn-lg btn-primary"
                            onclick="acceptOrRejectHandler('mentor', '<%= user._id %>', '<%= _id %>', 'accept')">Active
                    </button>
                </td>
            </tr>
            <% } %>
            </tbody>

        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../js/coordinator.js"></script>
<script src="../js/socket.js"></script>
</body>
</html>
