<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Edit Profile</title>
</head>    <link rel="stylesheet" href="../css/editProfile.css">

<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="main">
    <div class="testBox">
        <form id="edit-profile">
            <h2 class="header">Edit Profile</h2>
            <div class="item">
                <p>Name</p>
                <div class="name-item">
                    <input type="text" name="firstName" placeholder="First" value="<%= me.firstName %>"/>
                    <input type="text" name="lastName" placeholder="Last" value="<%= me.lastName %>"/>
                </div>
            </div>
            <div class="item">
                <p>Phone</p>
                <input type="text" name="phoneNumber" value="<%= me.phoneNumber %>"/>
            </div>
            <div class="item">
                <p>Birthdate</p>
                <input type="date" name="birthdate" value="<%= me.birthdate.toISOString().substr(0, 10) %>"/>
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="item">
                <p>Email</p>
                <input type="text" name="email" value="<%= me.email %>"/>
            </div>
            <div class="item">
                <p>Address</p>
                <input type="text" name="homeAddress" placeholder="Home Address" value="<%= me.homeAddress %>"/>
            </div>

            <button class="btn-block" type="submit">Save Changes</button>
        </form>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../js/editProfile.js"></script>
<script src="../js/socket.js"></script>
</body>
</html>
