<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Emergency Cases</title>
    <script src="../js/contact.js"></script>
    <link rel="stylesheet" href="../css/hospitalization.css">
</head>
<body>
<%- include('./partials/notification.ejs') %>
<!--                         Navbar                                         -->
<%- include('./partials/navbar.ejs') %>


<section id="patients-list">
    <div class="row">
        <div class="col-lg-12 col-md-6 table-container main">
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>National ID</th>
                    <th>Phone Number</th>
                    <th>Health Status</th>
                    <th>Reason</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <% for (let {reason, patient: {user}} of emergencyCases) { %>
                <tr>
                    <td data-label="Name"><%= user.firstName %> <%= user.lastName %></td>
                    <td data-label="Birthdate"><%= user.birthdate.toLocaleDateString() %></td>
                    <td data-label="National_ID"><%= user.nationalId %></td>
                    <td data-label="Phone-number"><%= user.phoneNumber %></td>
                    <td data-label="Health Status">Bad</td>
                    <td data-label="Reason"><%= reason %></td>
                    <td>
                        <button class="btn btn-lg btn-dark" onclick="contact(this, '<%=user._id%>')">Contact</button>
                        <button class="btn btn-lg btn-primary">Hospitalize</button>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

</section>


<!-- Footer -->

<footer id="footer">
    <div class="sm">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <p class="footer-p">&COPY; Copyright 2021 Covid-19 Home Monitoring System</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../js/hospitalization.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/socket.js"></script>

</body>
</html>
