<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | My Patients</title>
    <link rel="stylesheet" href="../css/monitorPatients.css">
</head>
<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section id="patients-list">
    <div class="row">

        <div class="form col-lg-12 col-md-6 table-container">
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>National ID</th>
                    <th>Phone Number</th>
                    <th>Health Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <% for (let {user} of patients) { %>
                    <tr>
                        <td data-label="Name"><%=user.firstName%> <%=user.lastName%></td>
                        <td data-label="Birthdate"><%=user.birthdate.toLocaleDateString()%></td>
                        <td data-label="National_ID"><%=user.nationalId%></td>
                        <td data-label="Phone-number"><%=user.phoneNumber%></td>
                        <td data-label="Health Status">Bad</td>
                        <td>
                            <button class="btn btn-lg btn-dark">Contact</button>
                            <a href="/report-list">
                                <button class="btn btn-lg btn-primary">Report List</button>
                            </a>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../js/monitorPatients.js"></script>
<script src="../js/socket.js"></script>
</body>
</html>
