<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HDMC | <%= user.firstName; %> <%= user.lastName; %></title>
</head>

<body>
<section id="title">
    <!--                         Navbar                                         -->
    <%- include('./partials/navbar') %>
</section>

<!--content-->

<div class="emp-profile container ">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img class="pro-img"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                         alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="profile-head">
                    <h1 class="display-3">
                        <%= user.firstName; %> <%= user.lastName; %>
                    </h1>
                    <h3>
                        Patient
                    </h3>
                    <p class="profile-rating">Rate : <span>5</span></p>
                    <hr>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="big">National Id</label>
                            </div>
                            <div class="col-md-6">
                                <p class="big"><%= user.nationalId; %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="big">Name</label>
                            </div>
                            <div class="col-md-6">
                                <p class="big"><%= user.firstName; %> <%= user.lastName; %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="big">Birthdate</label>
                            </div>
                            <div class="col-md-6">
                                <p class="big">
                                    <%= user.birthdate.getDate() %> /
                                    <%= user.birthdate.getMonth() + 1 %> /
                                    <%= user.birthdate.getFullYear() %>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="big">Email</label>
                            </div>
                            <div class="col-md-6">
                                <p class="big"><%= user.email; %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="big">Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p class="big"><%= user.phoneNumber; %></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="big">Home Address</label>
                            </div>
                            <div class="col-md-6">
                                <p class="big"><%= user.homeAddress; %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
