<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>C19HDM | Daily Reports</title>
    <link rel="stylesheet" href="../css/reportList.css">
</head>
<body>
<%- include('./partials/notification.ejs') %>
<%- include('./partials/navbar.ejs') %>

<section id="patientsList" class="patients-table">
    <div class="table-container">
        <table class="table table-fixed">
            <caption style="caption-side: top">Patient Reports :</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Feeling A Sore Throat</th>
                <th>Shortness of Breath severity</th>
                <th>Headache severity</th>
                <th>Fatigue severity</th>
                <th>Can Taste?</th>
                <th>Can Smell?</th>
            </tr>
            </thead>
            <tbody>
            <% for (const report of reports) { %>
                <tr>
                    <td data-label="Date"><%=report.createdAt.toLocaleDateString()%></td>
                    <td data-label="FeelingASoreThroat"><%=report.soreThroat%></td>
                    <td data-label="ShortnessOfBreath"><%=report.shortnessOfBreath%></td>
                    <td data-label="Headache"><%=report.headache%></td>
                    <td data-label="Fatigue"><%=report.fatigue%></td>
                    <td data-label="CanTaste"><%=report.taste%></td>
                    <td data-label="CanSmell"><%=report.smell%></td>
                </tr>
            <% } %>
            </tbody>

        </table>
    </div>
</section>


<footer id="footer">
    <div class="sm">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
        <p class="footer-p">&COPY; Copyright 2021 Covid-19 Home Monitoring System</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/reportList.js"></script>
<script src="../js/socket.js"></script>
</body>
</html>
